.subtitle {
  margin-top: 0.8em;
  margin-bottom: 0em;
  font-size: 16px;
  font-weight: 500;
  max-width: 635px;
  width: 60vw;
  line-height: 130%;
  text-align: justify;
}
.header {
  margin-top: 1.6em;
  margin-bottom: 0em;
  font-size: 19px;
  font-weight: 800;
  max-width: 635px;
  width: 60vw;
  text-transform: uppercase;
  line-height: 130%;
}

.emailInfo {
  margin: 1.6em 0;
  font-size: 19px;
  line-height: 130%;
  font-family: var(--font-radio);
  font-variation-settings:
    "wdth" 75,
    "wght" 700;
  text-transform: uppercase;
  letter-spacing: -0.015em;
  text-align: center;
  max-width: 529px;
}

/* Link Styles */
.emailInfo a {
  color: var(--color-primary);
  text-decoration: underline !important;
  text-decoration-thickness: 2px !important;
  text-underline-offset: 0.15em !important;
  background-color: var(--color-background);
  transition: var(--transition-smooth-100) all;
}

.emailInfo a:hover {
  text-decoration-thickness: 2px !important;
  text-underline-offset: 0.2em !important;
  transition: var(--transition-smooth-100) all;
}

.cardImageContainer {
  position: relative;
  outline: 1px solid var(--color-primary);
  max-width: 635px;
  width: 60vw;
  margin-top: 30.4px;
  z-index: 0;
}
.cardImage {
  position: relative;
  width: 100%;
  height: auto;
  aspect-ratio: 1280/853;
}
.cardImageTwo {
  position: relative;
  object-fit: cover;
  height: auto;
  filter: saturate(0);
}
.cardImageMultiply {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: var(--color-background);
  mix-blend-mode: multiply;
  opacity: 100%;
  z-index: 1;
}
.cardImageScreen {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: var(--color-primary);
  mix-blend-mode: screen;
  opacity: 100%;
  z-index: 2;
}
@media screen and (max-width: 699px) {
  .subtitle {
    width: calc(100% - 16px);
    padding: 0 8px;
    font-size: 15px;
    line-height: 130%;
  }
  .header {
    width: calc(100% - 32px);
    padding: 0px 16px;
    font-size: 16px;
    line-height: 130%;
  }
  .cardImageContainer {
    width: calc(100% - 32px);
    margin-top: 25.6px;
    z-index: 0;
  }
}

.subtitle a {
  color: var(--color-primary);
  text-decoration: underline !important;
  text-decoration-thickness: 1.5px !important;
  text-underline-offset: 0.12em !important;
  transition: var(--transition-smooth-100) all;
}

.subtitle a:hover {
  color: var(--color-primary);
  text-decoration: underline !important;
  text-decoration-thickness: 1.5px !important;
  text-underline-offset: 0.18em !important;
  transition: var(--transition-smooth-100) all;
}

@media screen and (max-width: 799px) {
  .emailInfo {
    font-size: 17px;
    line-height: 130%;
  }
}
