/* ==================== 
   Base Layout & Container 
   ==================== */
.gameFrameWrapper {
  position: absolute;
  top: 71px;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: calc(100svh - 71px - 30px);
  overflow: hidden;
}

.gameFrame {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 1826px;
}

#gameFrameWrapper img {
  width: 100% !important;
  height: 100% !important;
}


/* ==================== 
     Game UI Components 
     ==================== */

/* Score Display */
.scoreWrapper {
  bottom: 16px;
  left: 32px;
  gap: 24px;
  justify-content: center;
  align-items: baseline;
  display: flex;
  flex-direction: row;
  position: absolute;
  pointer-events: none;
  transition: transform cubic-bezier(0.33, 0, 0.66, 1) 200ms;
}

.score {
  font-size: 77px;
  pointer-events: none;
  color: var(--color-primary);
  font-variation-settings:
    "wdth" 75,
    "wght" 600;
  font-style: italic;
  font-family: var(--font-radio);
  letter-spacing: -0.03em;
  line-height: 100%;
  transform: translateY(calc(100% + 16px));
  transition: all cubic-bezier(0.33, 0, 0.66, 1) 187ms;
  transition-delay: 75ms;
}

.cans,
.pointScore,
.trophyScore {
  font-size: 58px;
  pointer-events: none;
  color: var(--color-primary);
  font-variation-settings:
    "wdth" 75,
    "wght" 600;
  font-style: italic;
  font-family: var(--font-radio);
  line-height: 100%;
}

.trophyScore,
.pointScore {
  padding-top: 40px;
}

.cans {
  transform: translateY(calc(100% + 16px));
  transition: all cubic-bezier(0.33, 0, 0.66, 1) 187ms;
  transition-delay: 187ms;
}

.scoreWrapperActiveOne {
  pointer-events: none;
  transform: translateY(0%);
  transition: all cubic-bezier(0.33, 0, 0.66, 1) 250ms;
  transition-delay: 100ms;
}

.scoreWrapperActiveTwo {
  pointer-events: none;
  transform: translateY(0%);
  transition: all cubic-bezier(0.33, 0, 0.66, 1) 250ms;
  transition-delay: 250ms;
}

.scoreDetails,
.trophyDetails {
  font-size: 27px;
  pointer-events: none;
  color: var(--color-primary);
  font-variation-settings:
    "wdth" 100,
    "wght" 800;
  font-family: var(--font-overpass);
  text-transform: uppercase;
  font-style: italic;
  line-height: 100%;
  margin-left: 3px;
  letter-spacing: 0;
}

/* Hand Animations */
.handWrapper {
  position: absolute;
  bottom: 0;
  right: 0;
  width: auto;
  height: 50%;
  aspect-ratio: 473.95/461;
  transition: all cubic-bezier(0.33, 0, 0.66, 1) 225ms;
  pointer-events: none;
  transition-delay: 300ms;
  transform: translateY(100%) rotate(-30deg);
}

.handWrapperActive {
  position: absolute;
  bottom: 0;
  right: 0;
  width: auto;
  height: 50%;
  aspect-ratio: 473.95/461;
  transition: all cubic-bezier(0.33, 0, 0.66, 1.33) 300ms;
  transition-delay: 400ms;
  pointer-events: none;
  transform: translateY(0%) rotate(0deg);
}

.hand {
  width: 100%;
  height: 100%;
  margin-left: 10%;
  margin-top: 10%;
  object-fit: contain;
}

.thumbsDown {
  transform: rotate(0.5deg);
  transition: transform cubic-bezier(0.33, 6, 0.66, 6) 150ms;
}

/* Game Elements */
.enemy {
  height: 120px;
  width: 70px;
  background-size: cover;
  background-position: center;
  display: none;
}

.deadEnemy {
  height: 120px;
  width: 70px;
  background-size: cover;
  background-position: center;
  pointer-events: none;
}

.bangMarker {
  width: 120px;
  height: 120px;
  pointer-events: none;
  z-index: 250;
  position: absolute;
  animation: bangAppear 0.25s cubic-bezier(0, 0.33, 0.33, 1.33);
}

.hidden,
.upcomingEnemy {
  display: none;
}

.active {
  display: flex;
}

/* ==================== 
     Screens & Modals
     ==================== */

/* Start Screen */
.startContainer {
  padding: 48px;
  border: 1px solid var(--color-primary);
  max-width: 412px;
  width: calc(100% - 96px - 64px);
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--color-background);
  opacity: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.startContainerClose {
  opacity: 0;
  pointer-events: none;
  transition: var(--transition-smooth-200) all;
}

.startTopWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.startLogo {
  width: 100%;
  max-width: 280px;
  height: 100%;
  object-fit: contain;
}

.startDescription {
  font-size: 21px;
  line-height: 130%;
  font-family: var(--font-overpass);
  color: var(--color-primary);
  font-weight: 800;
  margin-top: 33.13px;
  text-transform: uppercase;
  margin-bottom: 0;
  text-align: center;
}

.startDivider {
  height: 1px;
  width: 100%;
  background-color: var(--color-primary);
}

/* Game Over Screen */
.gameOver {
  border: 1px solid var(--color-primary);
  max-width: 412px;
  height: 100%;
  min-height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-color: var(--color-background);
  opacity: 1;
  width: calc(100% - 96px - 64px);
  transition: var(--transition-smooth-200) all;
  transition-delay: 400ms;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-height: calc(100% - 71px - 25px - 32px);
  overflow-y: scroll;
  overflow-x: hidden;
  padding-bottom: 0px !important;
  padding-left: 40px;
  padding-right: 40px;
}

.gameOverClose {
  opacity: 0;
  pointer-events: none;
  transition: var(--transition-smooth-200) all;
}

/* Email Signup */
.emailSignup {
  border: 1px solid var(--color-primary);
  max-width: 412px;
  height: fit-content;
  min-height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-color: var(--color-background);
  opacity: 1;
  width: calc(100% - 96px - 64px);
  transition: var(--transition-smooth-200) all;
  transition-delay: 400ms;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-height: calc(100% - 71px - 25px - 32px);
  overflow-y: scroll;
  overflow-x: hidden;
  padding-bottom: 0px !important;
  padding-left: 40px;
  padding-right: 40px;
}

.emailSignupClose {
  opacity: 0;
  pointer-events: none;
  transition: var(--transition-smooth-200) all;
}

/* ==================== 
     UI Components
     ==================== */

/* Button Styles */
.startButtonWrapper,
.endButtonWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-top: 38.4px;
  width: 320px;
}

.endButtonWrapper {
  padding-bottom: 40px;
}

.primaryButton {
  height: 44px;
  font-size: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 7px;
  border-radius: 19.2px;
  border: none;
  background-color: transparent;
  color: var(--color-primary);
  width: 100%;
  max-width: 450px;
  white-space: nowrap;
  font-variation-settings:
    "wdth" 75,
    "wght" 700;
  font-family: var(--font-radio);
  text-transform: uppercase;
  letter-spacing: -0.03em;
  text-decoration: underline !important;
  text-decoration-thickness: 2px !important;
  text-underline-offset: 3.2px !important;
  transition: var(--transition-smooth-100) all;
  margin-top: -10px;
  margin-bottom: -10px;
}

.primaryButton:hover {
  text-decoration-thickness: 2px !important;
  text-underline-offset: 4.8px !important;
  transition: var(--transition-smooth-100) all;
}

.warning {
  font-family: var(--font-overpass);
  font-size: 12px;
  line-height: 130%;
  opacity: 1;
  color: var(--color-primary);
  margin-top: 4.8px;
  text-align: center;
  height: 15px;
  margin-bottom: -10px;
}

/* Forms */
.input {
  border: 1.5px solid var(--color-primary);
  background: transparent;
  font-size: 16px;
  margin-top: 37px;
  width: calc(100% - 24px);
  color: var(--color-primary);
  font-family: var(--font-overpass);
  font-weight: 500 !important;
  height: 24px;
  padding: 8px 6.4px;
  font-weight: 800;
  max-width: 276px;
  opacity: 1;
}

.inputThankYou {
  margin-top: 1.6em;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-primary);
  font-weight: 500;
  font-family: var(--font-overpass);
  font-size: 16px;
  line-height: 130%;
  font-family: var(--font-overpass);
  background-color: transparent;
  font-size: 16px;
  font-weight: 800 !important;
  font-variation-settings:
    "wdth" 100,
    "wght" 800 !important;
  text-transform: uppercase;
}

.input::placeholder {
  color: var(--color-primary)99;
  font-weight: 500;
}

.formField {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.formField label {
  font-family: var(--font-radio);
  font-variation-settings:
    "wdth" 75,
    "wght" 700;
  text-transform: uppercase;
  letter-spacing: -0.03em;
  font-size: 16px;
  color: var(--color-primary);
  margin-bottom: 8px;
}

.input {
  font-family: var(--font-overpass);
  border: 1px solid var(--color-primary) !important;
  outline: 0.6px solid var(--color-primary);
  background-color: transparent;
  padding: 12px 12px;
  font-size: 16px;
  font-weight: 500;
  color: var(--color-primary);
  border-radius: 0px;
  transition: var(--transition-smooth-100) all;
}

.input:focus-visible,
.input:hover {
  outline: none;
  outline: 1px solid var(--color-primary);
  background-color: rgba(151, 27, 17, 0.08);
}

/* Checkboxes */
.checkboxItem {
  display: flex;
  align-items: center;
  gap: 0px;
  margin-bottom: 8px;
}

.checkboxItem input[type="checkbox"] {
  appearance: none;
  min-width: 20px;
  min-height: 20px;
  width: 20px;
  height: 20px;
  max-width: 20px;
  max-height: 20px;
  padding: 0px !important;
  position: relative;
  cursor: pointer;
  margin: 0px;
}

.checkboxItem input[type="checkbox"]:checked::after {
  content: "";
  position: absolute;
  width: 12px;
  height: 12px;
  background-color: var(--color-primary);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.checkboxItem label {
  font-family: var(--font-overpass);
  color: var(--color-primary);
  font-size: 14px;
  cursor: pointer;
  text-transform: none;
  letter-spacing: normal;
  margin-bottom: 0;
  padding-left: 8px;
}

.checkboxContainer {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-top: 25.6px;
  width: calc(100%);
  max-width: 360px;
}

/* Leaderboard */
.leaderboardContainer {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  color: var(--color-primary);
}

.leaderboardHeader {
  display: grid;
  grid-template-columns: 1fr 3fr 2fr;
  border-bottom: 1px solid var(--color-primary);
  margin-bottom: 0;
  width: 100%;
  font-size: 14px;
  line-height: 130%;
  font-family: var(--font-overpass);
  font-weight: 800;
  text-transform: uppercase;
  margin-top: 22.4px;
  padding-bottom: 2.8px;
}

.leaderboardHeader span {
  text-align: left;
}

.leaderboardHeader span:last-child {
  text-align: center;
}

.leaderboardList {
  padding: 0;
  height: 100%;
  min-height: 179px;
  overflow-y: scroll;
  margin: 0;
  max-height: 100%;
  width: 100%;
  border-bottom: 1px solid var(--color-primary);
}

.leaderboardEntry {
  display: grid;
  grid-template-columns: 1fr 3fr 2fr;
  justify-content: flex-start;
  padding: 5px 0 1px;
  border-bottom: 1px solid var(--color-primary);
  font-size: 24px;
  line-height: 130%;
  font-weight: 800;
  font-style: italic;
  width: 100%;
  height: 29px;
}

.leaderboardEntry:last-child {
  border-bottom: none;
}

.leaderboardRank,
.leaderboardName,
.leaderboardScore {
  font-family: var(--font-overpass);
  white-space: nowrap;
}

.leaderboardRank,
.leaderboardName {
  text-align: left;
}

.leaderboardName {
  overflow: hidden;
  text-overflow: clip;
}

.leaderboardScore {
  text-align: center;
}

.highlight {
  background-color: var(--color-primary)22;
}

/* Stats & Trophy */
.statsContainer {
  width: 100%;
  display: flex;
  flex-direction: row;
  margin-top: 12.8px;
  justify-content: center;
  height: fit-content;
  gap: 8px;
}

.statsDivider {
  width: 1px;
  min-width: 1px;
  background-color: var(--color-primary);
}

.statsWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.statsTitle {
  font-size: 16px;
  line-height: 130%;
  font-weight: 800;
  font-family: var(--font-overpass);
  color: var(--color-primary);
  text-align: center;
}

.statsSubtitle {
  font-size: 14px;
  line-height: 130%;
  font-weight: 500;
  font-family: var(--font-overpass);
  color: var(--color-primary);
}

/* Typography */
.bodyRegular {
  margin-top: 0.8em;
  margin-bottom: 0em;
  font-size: 19px;
  font-weight: 500;
  width: calc(100%);
  max-width: 360px;
  text-align: center;
  line-height: 130%;
  font-family: var(--font-overpass);
  color: var(--color-primary);
}

.titleRegular {
  width: 100%;
  text-align: center;
  font-size: 32px;
  font-family: var(--font-rallingtonSerif);
  color: var(--color-primary);
  margin-bottom: 0px;
  font-weight: 400;
  margin-top: 40px;
}

.label {
  display: none !important;
}

/* ==================== 
     Visual Effects
     ==================== */

/* Video Background */
.videoWrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -50;
  overflow: hidden;
  transition: 400ms cubic-bezier(0.33, 0, 0.66, 1) all;
  transition-delay: 400ms;
}

.videoWrapperClose {
  opacity: 0;
  pointer-events: none;
  transition-delay: 0ms;
  transition: 400ms cubic-bezier(0.33, 0, 0.66, 1) all;
}

.videoScreenOverlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: var(--color-background);
  mix-blend-mode: screen;
  opacity: 50%;
}

.videoMultiplyOverlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: var(--color-background);
  mix-blend-mode: multiply;
}

.videoSource {
  position: relative;
  width: 100%;
  height: 100%;
  filter: grayscale(100%) contrast(1.15) brightness(1.15);
  z-index: -1;
  object-fit: cover;
}

/* Animations */
@keyframes bangAnimation {
  0% {
    transform: scale(1) translate(-50%, -50%);
    opacity: 1;
  }
  100% {
    transform: scale(2) translate(-50%, -50%);
    opacity: 0;
  }
}

@keyframes bangAppear {
  0% {
    transform: scale(0) rotate(var(--rotation));
    opacity: 0;
  }
  50% {
    transform: scale(1.15) rotate(var(--rotation));
    opacity: 1;
  }
  100% {
    transform: scale(1) rotate(var(--rotation));
  }
}

/* ==================== 
     Media Queries
     ==================== */
@media screen and (max-width: 799px) {
  .checkboxContainer {
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 699px) {
  /* Layout adjustments */
  .gameFrameWrapper {
    top: 65px;
    height: calc(100svh - 65px - 30px);
  }

  .gameOver {
    max-height: calc(100% - 64px);
    height: calc(100% - 64px);
    width: calc(100% - 48px - 48px);
    padding-left: 24px !important;
    padding-right: 24px !important;
  }

  .emailSignup {
    height: fit-content;
    max-height: fit-content;
    width: calc(100% - 80px - 48px);
    padding-left: 40px !important;
    padding-right: 40px !important;
  }

  .startContainer {
    padding: 40px;
    width: calc(100% - 80px - 64px);
  }

  .startDescription {
    width: calc(100% + 16px);
  }

  /* Button adjustments */
  .startButtonWrapper,
  .endButtonWrapper {
    flex-direction: column;
    gap: 28px;
  }

  .primaryButton:hover {
    text-decoration-thickness: 2px !important;
    text-underline-offset: 3.2px !important;
  }

  /* Hand positioning */
  .handWrapper,
  .handWrapperActive {
    right: auto;
    left: 50%;
    bottom: auto;
    top: 60%;
  }

  .hand {
    margin-left: 10%;
    margin-top: 0;
  }

  /* Score adjustments */
  .scoreWrapper {
    left: 16px;
    bottom: 8px;
    gap: 5px;
    display: flex;
    flex-direction: column-reverse;
  }

  .score {
    font-size: clamp(40px, 8.3vw, 59px);
  }

  .cans {
    font-size: clamp(35px, 7.2vw, 52px);
    transform: translateY(calc(300% + 16px));
  }

  .trophyScore {
    font-size: 50px;
  }

  .scoreDetails {
    margin-left: 2px;
    font-size: clamp(14px, 2.9vw, 21px);
  }

  .scoreWrapperActiveTwo {
    transform: translateY(0%);
    transition-delay: 50ms;
  }

  /* Leaderboard adjustments */
  .leaderboardHeader {
    width: calc(100%);
    font-size: 12px;
    line-height: 130%;
  }

  .leaderboardList {
    width: calc(100%);
  }

  /* Stats adjustments */
  .statsTitle {
    font-size: 15px;
    line-height: 130%;
  }

  /* Typography adjustments */
  .bodyRegular {
    width: calc(100%);
    max-width: 360px;
    padding: 0px 16px;
    font-size: 16px;
    line-height: 130%;
  }
}

@media screen and (max-width: 399px) {
  .startContainer {
    width: calc(100% - 64px - 64px);
  }

  .gameOver {
    width: calc(100% - 48px - 48px);
  }

  .startDescription {
    margin-top: 30.12px;
    font-size: 19px;
    line-height: 130%;
    width: calc(100%);
  }

  .leaderboardHeader,
  .leaderboardList {
    width: calc(100%);
  }
}


.checkboxItem label {
  font-family: var(--font-overpass);
  background-color: transparent;
  font-size: 16px;
  font-weight: 500 !important;
  font-variation-settings:
    "wdth" 100,
    "wght" 500 !important;
}
.checkboxItem {
  display: flex;
  align-items: center;
  gap: 0px;
  margin-bottom: 8px;
}

.checkboxItem input[type="checkbox"] {
  appearance: none;
  min-width: 20px;
  min-height: 20px;
  width: 20px;
  height: 20px;
  max-width: 20px;
  max-height: 20px;
  padding: 0px !important;
  position: relative;
  cursor: pointer;
  margin: 0px;
}

.checkboxItem input[type="checkbox"]:checked::after {
  content: "";
  position: absolute;
  width: 12px;
  height: 12px;
  background-color: #891910;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.checkboxItem label {
  font-family: var(--font-overpass);
  color: #891910;
  font-size: 14px;
  cursor: pointer;
  text-transform: none;
  letter-spacing: normal;
  margin-bottom: 0;
}

.checkboxItem input[type="text"],
.checkboxItem input[type="email"],
.checkboxItem input[type="url"],
.checkboxItem input,
.checkboxItem textarea {
  font-family: var(--font-overpass);
  border: 1px solid #891910;
  background-color: transparent;
  padding: 16px 12px;
  font-size: 16px;
  font-weight: 500 !important;
  border-radius: 0px;
  color: #891910;
  outline: 0.6px solid #891910;
  transition: 100ms cubic-bezier(0.33, 0, 0.66, 1) all;
}

.checkboxItem input:focus,
.checkboxItem textarea:focus,
.checkboxItem input:hover,
.checkboxItem textarea:hover {
  outline: 1px solid #891910;
  background-color: rgba(151, 27, 17, 0.08);
}

.checkboxItem input::placeholder,
.checkboxItem textarea::placeholder {
  color: #89191099;
  font-weight: 500 !important;
}

.checkboxItem label {
  font-family: var(--font-radio);
  font-variation-settings:
    "wdth" 75,
    "wght" 700;
  text-transform: uppercase;
  letter-spacing: -0.03em;
  font-size: 16px;
  color: #891910;
  margin-bottom: 8px;
}
.checkboxItem label {
  font-family: var(--font-overpass);
  background-color: transparent;
  font-size: 16px;
  font-weight: 500 !important;
  font-variation-settings:
    "wdth" 100,
    "wght" 500 !important;
  padding-left: 8px;
}
.checkboxItem label {
  font-family: var(--font-overpass);
  color: #891910;
  cursor: pointer;
  text-transform: none;
  letter-spacing: normal;
  margin-bottom: 0;
}
