/* Global layout and game container */
.gameFrameWrapper {
  position: absolute;
  top: 71px;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: calc(100svh - 71px - 30px);
  overflow: hidden;
}

.gameFrame {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 1826px;
}

#gameFrameWrapper img {
  width: 100% !important;
  height: 100% !important;
}

/* Media queries for gameFrameWrapper */
@media screen and (max-width: 699px) {
  .gameFrameWrapper {
    top: 65px;
    height: calc(100svh - 65px - 30px);
  }
}

/* Hand animations */
.handWrapper {
  position: absolute;
  bottom: 0;
  right: 0;
  width: auto;
  height: 50%;
  aspect-ratio: 473.95/461;
  transition: all cubic-bezier(0.33, 0, 0.66, 1) 225ms;
  pointer-events: none;
  transition-delay: 300ms;
  transform: translateY(100%) rotate(-30deg);
}

.handWrapperActive {
  position: absolute;
  bottom: 0;
  right: 0;
  width: auto;
  height: 50%;
  aspect-ratio: 473.95/461;
  transition: all cubic-bezier(0.33, 0, 0.66, 1.33) 300ms;
  transition-delay: 400ms;
  pointer-events: none;
  transform: translateY(0%) rotate(0deg);
}

.hand {
  width: 100%;
  height: 100%;
  margin-left: 10%;
  margin-top: 10%;
  object-fit: contain;
}

.thumbsDown {
  transform: rotate(0.5deg);
  transition: transform cubic-bezier(0.33, 6, 0.66, 6) 150ms;
}

/* Score display */
.scoreWrapper {
  bottom: 16px;
  left: 32px;
  gap: 24px;
  justify-content: center;
  align-items: baseline;
  display: flex;
  flex-direction: row;
  position: absolute;
  pointer-events: none;
  transition: transform cubic-bezier(0.33, 0, 0.66, 1) 200ms;
}

.score {
  font-size: 77px;
  pointer-events: none;
  color: #971b11;
  font-variation-settings:
    "wdth" 75,
    "wght" 600;
  font-style: italic;
  font-family: var(--font-radio);
  letter-spacing: -0.03em;
  line-height: 100%;
  transform: translateY(calc(100% + 16px));
  transition: all cubic-bezier(0.33, 0, 0.66, 1) 187ms;
  transition-delay: 75ms;
}

.cans,
.trophyScore {
  font-size: 58px;
  pointer-events: none;
  color: #971b11;
  font-variation-settings:
    "wdth" 75,
    "wght" 600;
  font-style: italic;
  font-family: var(--font-radio);
  line-height: 100%;
}

.trophyScore {
  padding-top: 40px;
}
.cans {
  transform: translateY(calc(100% + 16px));
  transition: all cubic-bezier(0.33, 0, 0.66, 1) 187ms;
  transition-delay: 187ms;
}

.scoreWrapperActiveOne {
  pointer-events: none;
  transform: translateY(0%);
  transition: all cubic-bezier(0.33, 0, 0.66, 1) 250ms;
  transition-delay: 100ms;
}

.scoreWrapperActiveTwo {
  pointer-events: none;
  transform: translateY(0%);
  transition: all cubic-bezier(0.33, 0, 0.66, 1) 250ms;
  transition-delay: 250ms;
}

.scoreDetails {
  font-size: 27px;
  pointer-events: none;
  color: #971b11;
  font-variation-settings:
    "wdth" 100,
    "wght" 800;
  font-family: var(--font-overpass);
  text-transform: uppercase;
  font-style: italic;
  line-height: 100%;
  margin-left: 3px;
  letter-spacing: 0;
}

/* Game elements */
.enemy {
  height: 120px;
  width: 70px;
  background-size: cover;
  background-position: center;
  display: none;
}

.deadEnemy {
  height: 120px;
  width: 70px;
  background-size: cover;
  background-position: center;
  pointer-events: none;
}

.bangMarker {
  width: 120px;
  height: 120px;
  pointer-events: none;
  z-index: 250;
  position: absolute;
  animation: bangAppear 0.25s cubic-bezier(0, 0.33, 0.33, 1.33);
}

.hidden,
.upcomingEnemy {
  display: none;
}

.active {
  display: flex;
}

/* Animations */
@keyframes bangAnimation {
  0% {
    transform: scale(1) translate(-50%, -50%);
    opacity: 1;
  }
  100% {
    transform: scale(2) translate(-50%, -50%);
    opacity: 0;
  }
}

@keyframes bangAppear {
  0% {
    transform: scale(0) rotate(var(--rotation));
    opacity: 0;
  }
  50% {
    transform: scale(1.15) rotate(var(--rotation));
    opacity: 1;
  }
  100% {
    transform: scale(1) rotate(var(--rotation));
  }
}

/* Start screen */
.startContainer {
  padding: 48px;
  border: 1px solid #971b11;
  max-width: 412px;
  width: calc(100% - 96px - 64px);
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fae6d0;
  opacity: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.startContainerClose {
  opacity: 0;
  pointer-events: none;
  transition: 200ms cubic-bezier(0.33, 0, 0.66, 1) all;
}

.startTopWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.startLogo {
  width: 100%;
  max-width: 280px;
  height: 100%;
  object-fit: contain;
}

.startDescription {
  font-size: 21px;
  line-height: 130%;
  font-family: var(--font-overpass);
  color: #971b11;
  font-weight: 800;
  margin-top: 33.13px;
  text-transform: uppercase;
  margin-bottom: 0;
  text-align: center;
}

.startDivider {
  height: 1px;
  width: 100%;
  background-color: #971b11;
}

/* Button styles */
.startButtonWrapper,
.endButtonWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-top: 38.4px;
  width: 320px;
}

.endButtonWrapper {

    padding-bottom: 40px;
  
}

.primaryButton {
  height: 44px;
  font-size: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 7px;
  border-radius: 19.2px;
  border: none;
  background-color: transparent;
  color: #971b11;
  width: 100%;
  max-width: 450px;
  white-space: nowrap;
  font-variation-settings:
    "wdth" 75,
    "wght" 700;
  font-family: var(--font-radio);
  text-transform: uppercase;
  letter-spacing: -0.03em;
  text-decoration: underline !important;
  text-decoration-thickness: 2px !important;
  text-underline-offset: 3.2px !important;
  transition: 100ms cubic-bezier(0.33, 0, 0.66, 1) all;
  margin-top: -10px;
  margin-bottom: -10px;
}

.primaryButton:hover {
  text-decoration-thickness: 2px !important;
  text-underline-offset: 4.8px !important;
  transition: 100ms cubic-bezier(0.33, 0, 0.66, 1) all;
}

.secondaryButton {
  height: 48px;
  font-size: 21px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 7px;
  border-radius: 19.2px;
  border: 1px solid #971b11;
  color: #971b11;
  background-color: #fae6d0;
  width: 100%;
  max-width: 450px;
  font-variation-settings:
    "wdth" 75,
    "wght" 700;
  font-family: var(--font-radio);
  text-transform: uppercase;
  letter-spacing: -0.03em;
  text-decoration: underline !important;
  text-decoration-color: transparent !important;
  text-decoration-thickness: 3.24px !important;
  text-underline-offset: 3.18px !important;
  transition: 100ms cubic-bezier(0.33, 0, 0.66, 1) all;
}

.warning {
  font-family: var(--font-overpass);
  font-size: 12px;
  line-height: 130%;
  opacity: 1;
  color: #971b11;
  margin-top: 4.8px;
  text-align: center;
  height: 15px;
  margin-bottom: -10px;
}

/* Game over & Leaderboard */
.gameOver {
  border: 1px solid #971b11;
  max-width: 412px;
  height: 100%;
  min-height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-color: #fae6d0;
  opacity: 1;
  width: calc(100% - 96px - 64px);
  transition: 200ms cubic-bezier(0.33, 0, 0.66, 1) all;
  transition-delay: 400ms;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-height: calc(100% - 71px - 25px - 32px);
  overflow-y: scroll;
  overflow-x: hidden;
  padding-bottom: 0px !important;
  padding-left: 40px;
  padding-right: 40px;
}

.gameOverClose {
  opacity: 0;
  pointer-events: none;
  transition: 200ms cubic-bezier(0.33, 0, 0.66, 1) all;
}

.leaderboardContainer {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  color: #971b11;
}

.leaderboardHeader {
  display: grid;
  grid-template-columns: 1fr 3fr 2fr;
  border-bottom: 1px solid #971b11;
  margin-bottom: 0;
  width: 100%;
  font-size: 14px;
  line-height: 130%;
  font-family: var(--font-overpass);
  font-weight: 800;
  text-transform: uppercase;
  margin-top: 22.4px;
  padding-bottom: 2.8px;
}

.leaderboardHeader span {
  text-align: left;
}
.leaderboardHeader span:last-child {
  text-align: center;
}

.leaderboardList {
  padding: 0;
  height: 100%;
  min-height: 179px;
  overflow-y: scroll;
  margin: 0;
  max-height: 179px;
  width: 100%;
  border-bottom: 1px solid #971b11;
}

.leaderboardEntry {
  display: grid;
  grid-template-columns: 1fr 3fr 2fr;
  justify-content: flex-start;
  padding: 5px 0 1px;
  border-bottom: 1px solid #971b11;
  font-size: 24px;
  line-height: 130%;
  font-weight: 800;
  font-style: italic;
  width: 100%;
  height: 29px;
}

.leaderboardEntry:last-child {
  border-bottom: none;
}

.leaderboardRank,
.leaderboardName,
.leaderboardScore {
  font-family: var(--font-overpass);
  white-space: nowrap;
}

.leaderboardRank,
.leaderboardName {
  text-align: left;
}

.leaderboardName {
  overflow: hidden;
  text-overflow: clip;
}

.leaderboardScore {
  text-align: center;
}

.highlight {
  background-color: #971b1122;
}

/* Video elements */
.videoWrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -50;
  overflow: hidden;
  transition: 400ms cubic-bezier(0.33, 0, 0.66, 1) all;
  transition-delay: 400ms;
}

.videoWrapperClose {
  opacity: 0;
  pointer-events: none;
  transition-delay: 0ms;
  transition: 400ms cubic-bezier(0.33, 0, 0.66, 1) all;
}

.videoScreenOverlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #fae6d0;
  mix-blend-mode: screen;
  opacity: 50%;
}

.videoMultiplyOverlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #fae6d0;
  mix-blend-mode: multiply;
}

.videoSource {
  position: relative;
  width: 100%;
  height: 100%;
  filter: grayscale(100%) contrast(1.15) brightness(1.15);
  z-index: -1;
  object-fit: cover;
}

/* Stats & Trophy */
.statsContainer {
  width: 100%;
  display: flex;
  flex-direction: row;
  margin-top: 12.8px;
  justify-content: center;
  height: fit-content;
  gap: 8px;
}

.statsDivider {
  width: 1px;
  min-width: 1px;
  background-color: #971b11;
}

.statsWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.statsTitle {
  font-size: 16px;
  line-height: 130%;
  font-weight: 800;
  font-family: var(--font-overpass);
  color: #971b11;
  text-align: center;
}

.statsSubtitle {
  font-size: 14px;
  line-height: 130%;
  font-weight: 500;
  font-family: var(--font-overpass);
  color: #971b11;
}

.input {
  border: 1.5px solid #971b11;
  background: transparent;
  font-size: 16px;
  margin-top: 37px;

  color: #971b11;
  font-family: var(--font-overpass);
  font-weight: 500 !important;
  height: 24px;
  padding: 8px 6.4px;
  font-weight: 800;
  width: 100%;
  max-width: 300px;
  opacity: 1;
}

.input::placeholder {
  color: #971b1199;
  font-weight: 500;
}

/* .input:focus {
  stroke: none;
  border: 1.5px solid #971B11;
  border-bottom: 2px solid #971B11;
  box-shadow: none;
  outline: none;
} */

.formField {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.formField label {
  font-family: var(--font-radio);
  font-variation-settings:
    "wdth" 75,
    "wght" 700;
  text-transform: uppercase;
  letter-spacing: -0.03em;
  font-size: 16px;
  color: #971b11;
  margin-bottom: 8px;
}

.input {
  font-family: var(--font-overpass);
  border: 1px solid #971b11!important;
  outline: .6px solid #971b11;
  background-color: transparent;
  padding: 12px 12px;
  font-size: 16px;
  font-weight: 500;
  color: #971b11;
  border-radius: 0px;
  transition: 100ms cubic-bezier(0.33, 0, 0.66, 1) all;
}

.input:focus {
  outline: none;
  outline: 1px solid #971b11;
  background-color: rgba(151, 27, 17, 0.08);
}

/* Media queries */
@media screen and (max-width: 699px) {
  .gameOver {
    max-height: calc(100% - 56px - 25px - 80px);
    height: calc(100% - 56px - 25px - 80px);
  }

  .scoreWrapper {
    left: 16px;
    bottom: 8px;
    gap: 5px;
    display: flex;
    flex-direction: column-reverse;
  }

  .score {
    font-size: 68px;
  }

  .cans,
  .trophyScore {
    font-size: 51px;
  }

  .scoreDetails {
    font-size: 24px;
  }
}

@media screen and (max-width: 699px) {
  .primaryButton:hover {
    text-decoration-thickness: 2px !important;
    text-underline-offset: 3.2px !important;
  }
}

@media screen and (max-width: 699px) {
  .score {
    font-size: clamp(40px, 8.3vw, 59px);
  }

  .cans,
  .trophyScore {
    font-size: clamp(35px, 7.2vw, 52px);
  }

  .scoreDetails {
    margin-left: 2px;
    font-size: clamp(14px, 2.9vw, 21px);
  }

  .cans {
    transform: translateY(calc(300% + 16px));
  }

  .scoreWrapperActiveTwo {
    transform: translateY(0%);
    transition-delay: 50ms;
  }
}

@media screen and (max-width: 699px) {
  .startContainer {
    padding: 40px;
    width: calc(100% - 80px - 64px);
  }


  .gameOver {
    width: calc(100% - 80px - 64px);
  }

  .startDescription {
    width: calc(100% + 16px);
  }

  .startButtonWrapper,
  .endButtonWrapper {
    flex-direction: column;
    gap: 28px;
  }



  .handWrapper,
  .handWrapperActive {
    right: auto;
    left: 50%;
  }

  .hand {
    margin-left: 10%;
    margin-top: 0;
  }

  .leaderboardHeader {
    width: calc(100%);
    font-size: 12px;
    line-height: 130%;
  }

  .leaderboardList {
    width: calc(100%);
  }

  .statsTitle {
    font-size: 15px;
    line-height: 130%;
  }
}

@media screen and (max-width: 699px) {
  .handWrapper,
  .handWrapperActive {
    bottom: auto;
    top: 60%;
  }
}

@media screen and (max-width: 399px) {
  .startContainer,
  .gameOver {
    width: calc(100% - 64px - 64px);
  }

  .startDescription {
    margin-top: 30.12px;
    font-size: 19px;
    line-height: 130%;
    width: calc(100%);
  }

  .leaderboardHeader,
  .leaderboardList {
    width: calc(100%);
  }
}
