.portfolioWrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 24px;
  width: 87vw;
  max-width: 1280px;
}
@media screen and (max-width: 899px) {
  .portfolioWrapper {
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (max-width: 549px) {
  .portfolioWrapper {
    grid-template-columns: 1fr;
  }
}

.subtitle {
  margin: 0.8em 0 0;
  font-size: 19px;
  font-weight: 500;
  max-width: 635px;
  width: 60vw;
  line-height: 130%;
}
@media screen and (max-width: 699px) {
  .subtitle {
    width: calc(100% - 32px);
    padding: 0 16px;
    font-size: 16px;
    line-height: 130%;
  }
}
.cardContainer {
  width: 100%;
  text-decoration: none !important;
}
.cardWrapper {
  position: relative;
}
.cardImageContainer {
  position: relative;
  outline: 1px solid var(--color-primary);
  z-index: 0;
}
.cardImage {
  position: relative;
  width: 100%;
  height: auto;
  aspect-ratio: 4/3;
}
.cardImageTwo {
  position: relative;
  object-fit: cover;
  height: auto;
  filter: saturate(0);
}
.cardImageMultiply {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: var(--color-background);
  mix-blend-mode: multiply;
  opacity: 100%;
  z-index: 1;
}
.cardImageScreen {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: var(--color-primary);
  mix-blend-mode: screen;
  opacity: 100%;
  z-index: 2;
}
.cardTitle {
  margin-top: 0.8em;
  margin-bottom: 0px;
  width: 100%;
  text-align: left;
  color: var(--color-primary);
  font-size: 14px;
  line-height: 17px;
  font-weight: 800;
  font-family: var(--font-overpass);
  text-transform: uppercase;
}
.cardBody {
  font-size: 14px;
  line-height: 17px;
  font-weight: 500;
  font-family: var(--font-overpass);
  color: var(--color-primary);
  width: 100%;
  text-align: left;
  text-decoration: none;
  margin: 0px !important;
  margin-top: 0.8em;
}
/* @media screen and (max-width: 832px) {
  .cardBody {
    font-size: 12px;
    line-height: 15px;
  }
} */
