/* Layout Container */
.contactWrapper {
  min-height: calc(100svh - 71px - 30px);
  display: flex;
  width: calc(100% - 16px);
  padding: 0px 8px;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  font-family: var(--font-overpass);
  color: #971b11;
  height: fit-content;
}

/* Typography */
.title {
  width: 100%;
  text-align: center;
  font-size: clamp(47px, 8.7vw, 78px);
  font-family: var(--font-rallingtonSerif);
  color: #971b11;
  margin-top: 0.8em;
  margin-bottom: 0px;
  font-weight: 400;
}
.subtitle {
  margin-top: .8em;
  margin-bottom: 0em;
  font-size: 19px;
  font-weight: 500;
  max-width: 510px;
  width: 75vw;
  line-height: 130%;
}

/* Email Info */
.emailInfo {
  margin-top: 0.8em;
  margin-bottom: 0.8em;
  font-size: 19px;
  line-height: 130%;
  font-variation-settings: "wdth" 75, "wght" 700;
  font-family: var(--font-radio);
  text-transform: uppercase;
  letter-spacing: -0.03em;
  text-align: center;
  max-width: 529px;
}

.emailInfo a {
  color: #971b11;
  text-decoration: underline !important;
  text-decoration-thickness: 2px !important;
  text-underline-offset: 3.2px !important;
  transition: 100ms cubic-bezier(0.33, 0, 0.66, 1) all;
  background-color: #FAE6D0;
}

.emailInfo a:hover {
  text-decoration-thickness: 2px !important;
  text-underline-offset: 4.8px !important;
  transition: 100ms cubic-bezier(0.33, 0, 0.66, 1) all;

}



/* Contact Form Styling */
.contactFormWrapper {
  width: 75vw;
  max-width: 1120px;
}

.contactForm {
  flex-direction: column;
  gap: 24px;
  width: 100%;
   grid-template-columns: 1fr 1fr; display: grid;
   margin-top: 43px;
   margin-bottom: 86px;
}

.formField {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.formField label {
  font-family: var(--font-radio);
  font-variation-settings: "wdth" 75, "wght" 700;
  text-transform: uppercase;
  letter-spacing: -0.03em;
  font-size: 16px;
  color: #971b11;
  margin-bottom: 8px;
}

.formField input[type="text"],
.formField input[type="email"],
.formField input[type="url"],
.formField input,
.formField textarea {
  font-family: var(--font-overpass);
  border: 1px solid #971b11;
  background-color: transparent;
  padding: 16px 12px;
  font-size: 16px;
  font-weight: 500;
  border-radius: 0px;
  color: #971b11;
  outline: .6px solid #971b11;
  transition: 100ms cubic-bezier(0.33, 0, 0.66, 1) all;
}

.formField input:focus,
.formField textarea:focus {
  outline: 1px solid #971b11;
  background-color: rgba(151, 27, 17, 0.08);
}

.formField input::placeholder,
.formField textarea::placeholder {
  color: #971B1199;
  font-weight: 500;
}

.formField p {
  font-family: var(--font-radio);
  font-variation-settings: "wdth" 75, "wght" 700;
  text-transform: uppercase;
  letter-spacing: -0.03em;
  font-size: 16px;
  color: #971b11;
  margin-bottom: 12px;
}

.formField:has(p) {
  border: 2px solid #971b11;
  padding: 24px;
}

.checkboxGroup {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 12px;
}

.checkboxItem {
  display: flex;
  align-items: center;
  gap: 8px;
}

.checkboxItem input[type="checkbox"] {
  appearance: none;
  width: 16px;
  height: 16px;
  border: 2px solid #971b11;
  position: relative;
  cursor: pointer;
}

.checkboxItem input[type="checkbox"]:checked::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: #971b11;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.checkboxItem label {
  font-family: var(--font-overpass);
  color: #971b11;
  font-size: 14px;
  cursor: pointer;
  text-transform: none;
  letter-spacing: normal;
  margin-bottom: 0;
}

.submitButton {
  font-family: var(--font-radio);
  font-variation-settings: "wdth" 75, "wght" 700;
  text-transform: uppercase;
  letter-spacing: -0.03em;
  background-color: transparent;
  border: 2px solid #971b11;
  color: #971b11;
  padding: 12px 24px;
  font-size: 19px;
  cursor: pointer;
  margin-top: 10px;
  transition: 100ms cubic-bezier(0.33, 0, 0.66, 1) all;
  align-self: center;
}

.submitButton:hover {
  background-color: rgba(151, 27, 17, 0.08);
}

.label {
  display: none!important;
}/* Media Queries */


.backWrapper {
  position: absolute;
  top: 32px;
  left: 32px;
  transform: rotate(180deg);
}

/* Media Queries */
@media screen and (max-width: 699px) {
  .contactWrapper {
    min-height: calc(100svh - 65px - 30px);
  }

}
@media screen and (max-width: 799px) {
  .emailInfo {
    font-size: 17px;
    line-height: 130%;
  }
  
  .checkboxGroup {
    grid-template-columns: 1fr;
  }
}
@media screen and (max-width: 699px) {
  .submitButton:hover {
    background-color: #FAE6D0;
  }
  .contactFormWrapper, .subtitle {
    width: calc(100% - 32px);
    padding: 0px 16px;
    font-size: 16px;
    line-height: 130%;
  }
}
