/* Layout Container */
.footer {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  font-family: var(--font-overpass);
  color: var(--color-primary);
  height: fit-content;
}

/* Wordmark */
.wordmarkWrapper {
  width: 100%;
  max-width: 1220px;
  aspect-ratio: 326/20.03;
  text-align: center;
  font-family: var(--font-rallingtonSerif);
  color: var(--color-primary);
  margin-top: 54px;
}

.wordmark {
  height: 100%;
  object-fit: contain;
  width: 100%;
}

.wordmarkCondensed {
  display: none;
}

/* Nav Links */
.navLinks {
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: none;
  gap: 8px;
  max-width: calc(1220px - clamp(28px, 3vw, 34px));
  width: calc(100% - clamp(28px, 3vw, 34px));
  padding: 0px calc(clamp(28px, 3vw, 34px) / 2);
}

.navLink {
  color: var(--color-primary);
  font-variation-settings: var(--fvs-radio-ui);
  font-family: var(--font-radio);
  text-transform: uppercase;
  letter-spacing: var(--tracking-ui);
  text-align: center;
  font-size: var(--text-ui-xl);
  text-decoration: none !important;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.navLink:hover {
  text-decoration: underline !important;
  text-decoration-color: var(--color-primary) !important;
  text-decoration-thickness: 0.075em !important;
  text-underline-offset: 0.15em !important;
  transition: var(--transition-smooth-100) all;
}

@media screen and (max-width: 799px) {
  .navLink {
    width: fit-content;
  }
}

@media screen and (max-width: 699px) {
  .navLink {
    font-size: clamp(16px, 4vw, 21px);
  }
  .navLinks {
    display: flex;
    flex-direction: row;
    width: calc(100% - clamp(16px, 4vw, 21px));
    padding: 0px calc(clamp(16px, 4vw, 21px) / 2);
  }
}

@media screen and (max-width: 349px) {
  .wordmark {
    display: none;
  }

  .wordmarkCondensed {
    height: 100%;
    object-fit: contain;
    width: 100%;
    display: flex;
  }
}
