/* ─── Layout ──────────────────────────────────────────────────────────────── */

.header {
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 500;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: calc(100% - 64px);
  padding: 0px 32px;
  overflow: hidden;
  background-color: var(--color-background);
  border-bottom: 1px solid var(--color-primary);
}

.content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1826px;
  gap: 24px;
}

/* ─── Logo ─────────────────────────────────────────────────────────────────── */

.logoContent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
}

.logoWrapper {
  display: flex;
}

.logoDesktop {
  pointer-events: none;
  aspect-ratio: 326/20.03;
}

.logoMobile {
  display: none;
  pointer-events: none;
}

/* ─── Navigation ───────────────────────────────────────────────────────────── */

.textContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
}

.menuWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  gap: 15px;
}

.menuOption {
  padding: 0px 5px;
  background-color: var(--color-background);
  border-radius: 4px;
  text-decoration: none !important;
}

.menuOption span {
  font-family: var(--font-radio);
  font-size: 54px;
  font-variation-settings:
    "wdth" 75,
    "wght" 700;
  line-height: 54px;
  letter-spacing: -0.015em;
  text-transform: uppercase;
  color: var(--color-primary);
  text-decoration: underline;
  text-decoration-color: transparent;
  text-decoration-thickness: 0.02em;
  text-underline-offset: 0.15em;
  transition: 100ms all cubic-bezier(0.33, 0, 0.66, 1);
}

.menuOption:hover span {
  text-decoration-color: var(--color-primary);
}

/* ─── Mobile ───────────────────────────────────────────────────────────────── */

@media screen and (max-width: 699px) {
  .header {
    position: fixed;
    top: 16px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    width: calc(100vw - 64px);
    max-width: 466px;
    height: fit-content;
    padding: 0px 16px 0px;
    border: 1.5px solid var(--color-primary);
  }

  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: fit-content;
    gap: 0px;
  }

  .logoWrapper {
    width: 100%;
  }

  .logoDesktop {
    display: none;
  }

  .logoMobile {
    display: flex;
    width: 100%;
    height: auto;
    aspect-ratio: 326/63.03;
    border-bottom: 1px solid var(--color-primary);
  }

  .textContainer {
    gap: 15px;
  }

  .menuWrapper {
    justify-content: space-around;
    width: 100%;
    margin: 7px 0px 7px;
    gap: auto;
  }

  .menuOption {
    padding: 0px;
  }

  .menuOption span {
    font-size: 19px;
    line-height: 100%;
  }
}
