.container {
  width: 100%;
  overflow: hidden;
  background-color: var(--color-primary);
  height: 30px;
  position: fixed;
  bottom: 0px;
}

.marquee {
  white-space: nowrap;
  display: inline-block;
  animation: marquee 40s linear infinite;
  will-change: transform;
}
@media screen and (max-width: 699px) {
  .marquee {
    animation: marquee 18s linear infinite;
  }
}

.title {
  display: inline-block;
  color: var(--color-background);
  font-size: 16px;
  line-height: 30px;
  white-space: nowrap;
  font-family: var(--font-overpass);
  font-weight: 600;
  text-transform: uppercase;
  margin-left: 32px;
  margin-right: 4px;
}

.wave {
  display: flex;
  align-items: center;
  justify-content: center;
}

@keyframes marquee {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(-50%, 0, 0);
  }
}
