.workWrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 24px;
  width: 87vw;
  max-width: 1280px;
}
@media screen and (max-width: 899px) {
  .workWrapper {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 549px) {
  .workWrapper {
    grid-template-columns: 1fr;
  }
}

.cardContainer {
  width: 100%;
  text-decoration: none !important;
}
.cardWrapper {
  position: relative;
}
.cardInfoWrapper {
  padding-top: 2px;
}
.cardImageContainer {
  position: relative;
  outline: 1px solid var(--color-primary);
  z-index: 0;
}
.cardImage {
  position: relative;
  width: 100%;
  height: auto;
  aspect-ratio: 4/3;
}
.cardImageTwo {
  position: relative;
  object-fit: cover;
  height: auto;
  filter: saturate(0);
}
.cardImageMultiply {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: var(--color-background);
  mix-blend-mode: multiply;
  opacity: 100%;
  z-index: 1;
}
.cardImageScreen {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: var(--color-primary);
  mix-blend-mode: screen;
  opacity: 100%;
  z-index: 2;
}
.cardTitle {
  margin-top: 0.8em;
  margin-bottom: 00em;
  width: 100%;
  text-align: left;
  color: var(--color-primary);
  font-size: var(--text-md);
  line-height: 1.45;
  font-weight: 800;
  font-family: var(--font-overpass);
  text-transform: uppercase;
}
.cardBody {
  font-size: var(--text-sm);
  line-height: 1.45;
  font-weight: 500;
  font-family: var(--font-overpass);
  color: var(--color-primary);
  width: 100%;
  text-align: left;
  text-decoration: none;
  margin: 0px !important;
  margin-top: 0.2em !important;
}
