:root {
  --color-primary: rgb(137, 24, 16);
  --color-background: rgb(252, 238, 222);
  --color-bg-hover: rgba(137, 24, 16, 0.08);
  --transition-smooth-100: 100ms cubic-bezier(0.33, 0, 0.66, 1);
  --transition-smooth-200: 200ms cubic-bezier(0.33, 0, 0.66, 1);
  --transition-smooth-300: 300ms cubic-bezier(0.33, 0, 0.66, 1);
  --header-height: 70px;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

@media screen and (min-width: 699px) {
  * {
    cursor: none !important;
  }
}

.standardPageContainer {
  padding: 32px;
  padding-bottom: 28px;
  padding-top: var(--header-height);
  width: calc(100% - 64px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-height: calc(100svh - var(--header-height) - 30px);
}
.standardPageWrapper {
  min-height: calc(100svh - var(--header-height) - 30px);
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  font-family: var(--font-overpass);
  color: var(--color-primary);
  height: fit-content;
}
@media screen and (max-width: 699px) {
  .standardPageContainer {
    padding: 16px;
    padding-bottom: 28px;
    padding-top: var(--header-height);
    padding-bottom: 30px;
    width: calc(100% - 32px);
  }
}

/* Typography */
.title {
  width: 100%;
  text-align: center;
  font-size: clamp(48px, 6.7vw, 74px);
  font-family: var(--font-rallingtonSerif);
  color: var(--color-primary);
  margin-top: 0.8em;
  margin-bottom: 0px;
  font-weight: 400;
  overflow-wrap: break-word;
}
