.gameFrameWrapper {
  position: absolute;
  top: 0px;
  left: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: calc(100%);
  height: calc(100vh);
  overflow: hidden;
}
.gameFrame {
  width: calc(100% - 96px);
  height: calc(100% - 80px - 120px);
  /* height: 100vh;
  width: 100%; */
  /* position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); */
  padding: calc(80px + 60px) 48px 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 1280px
}
.enemy {
  height: 120px;
  width: 70px;
  background-size: cover; /* Ensures the image fills the element */
  background-position: center;

}
.deadEnemy {
  height: 120px;
  width: 70px;
  background-size: cover; /* Ensures the image fills the element */
  background-position: center;
  pointer-events: none;
}
.gameOver {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: calc(100% - 32px);
}
.score {
  font-size: 54px;
  font-weight: 700;
  bottom: 2.5vh;
  left: 2.5vw;
  display: flex;
  position: absolute;
  pointer-events: none;
  color: #8b1910;
  font-variation-settings: "wdth" 62;

}
.leaderboard {
  text-align: center;
  margin-top: 20px;
  color: #8b1910;
  width: 100%;
}

.leaderboardHeader {
  display: flex;
  justify-content: space-around;
  font-weight: bold;
  margin-bottom: 10px;
}
.leaderboardList {
  padding: 0px;
  max-height: 50vh;
  overflow-y: scroll;
  border: 1px solid #8b1910;
  padding: 0px 10px;
}
.leaderboardEntry {
  display: grid;
  grid-template-columns: 1fr 3fr 2fr;
  justify-content: flex-start;
  padding: 5px 0;
  border-bottom: 1px solid #8b1910;
  font-size: 28px;
  font-weight: 700;
  font-style: italic;
  width: 100%;
}
.leaderboardRank {
  text-align: left;
}
.leaderboardName {
  text-align: left;
}
.leaderboardScore {
  text-align: center;
}
.highlight {
  background-color: #8b191022;
}

.bangMarker {
  width: 120px;
  height: 120px;
  pointer-events: none;
  z-index: 100;
  /* background-image: url("/bang.png");
  background-size: cover; */
  position: absolute;
  animation: bangAppear 0.25s ease-out;
}

@keyframes bangAnimation {
  0% {
    transform: scale(1) translate(-50%, -50%);
    opacity: 1;
  }
  100% {
    transform: scale(2) translate(-50%, -50%);
    opacity: 0;
  }
}
@keyframes bangAppear {
  0% {
    transform: scale(0) rotate(var(--rotation));
    opacity: 0;
  }
  50% {
    transform: scale(1.15) rotate(var(--rotation));
    opacity: 1;
  }
  100% {
    transform: scale(1) rotate(var(--rotation));
  }
}

.bangMarker {

}
