.gameFrameWrapper {
  position: absolute;
  top: 0px;
  left: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: calc(100%);
  height: calc(100svh - 71px - 30px);
  overflow: hidden;
}
@media screen and (max-width: 799px) {
  .gameFrameWrapper {
    height: calc(100svh - 65px - 30px);
  }
}

/* Score */
.scoreWrapper {
  bottom: 16px;
  left: 32px;
  gap: 24px;
  justify-content: center;
  align-items: baseline;
  display: flex;
  flex-direction: row;
  position: absolute;
  pointer-events: none;
}
.score {
  font-size: 77px;
  pointer-events: none;
  color: #8b1910;
  font-variation-settings: "wdth" 80, "wght" 600;
  font-style: italic;
  font-family: var(--font-radio);
  letter-spacing: -0.03em;
  line-height: 100%;
}
.cans {
  font-size: 58px;
  pointer-events: none;
  color: #8b1910;
  font-variation-settings: "wdth" 80, "wght" 600;
  font-style: italic;
  font-family: var(--font-radio);
  letter-spacing: -0.03em;
  line-height: 100%;
}
.scoreDetails {
  font-size: 27px;
  pointer-events: none;
  color: #8b1910;
  font-variation-settings: "wdth" 100, "wght" 800;
  font-family: var(--font-overpass);
  text-transform: uppercase;
  font-style: italic;
  line-height: 100%;
  margin-left: 3px;
  letter-spacing: 0;
}
@media screen and (max-width: 799px) {
  .scoreWrapper {
    left: 16px;
    bottom: 8px;
    gap: 5px;
    display: flex;
    flex-direction: column-reverse;
  }
  .score {
    font-size: 68px;
  }
  .cans {
    font-size: 51px;
  }
  .scoreDetails {
    font-size: 24px;
  }
}
@media screen and (max-width: 711px) {
  .score {
    font-size: clamp(40px, 8.3vw, 59px);
  }
  .cans {
    font-size: clamp(30px, 6.2vw, 44px);
    font-size: clamp(40px, 8.3vw, 59px);
    font-size: clamp(35px, 7.2vw, 52px);
  }
  .scoreDetails {
    margin-left: 2px;
    font-size: clamp(14px, 2.9vw, 21px);
  }
}

/* Hand */
.handWrapper {
  position: absolute;
  bottom: 0;
  right: 0;
  width: auto;
  height: 50%;
  aspect-ratio: 473.95/461;
  transition: transform ease-in 200ms;
  pointer-events: none;
  transform: rotate(-45deg);
  transform: translateY(100%);
}
.handWrapperActive {
  position: absolute;
  bottom: 0;
  right: 0;
  width: auto;
  height: 50%;
  aspect-ratio: 473.95/461;
  transition: transform ease-in 200ms;
  pointer-events: none;
  transform: rotate(0deg);
  transform: translateY(0%);
}
.hand {
  width: 100%;
  height: 100%;
  margin-left: 10%;
  margin-top: 10%;
  object-fit: contain;
}
.thumbsDown {
  transform: rotate(0.5deg);
  transition: transform cubic-bezier(0.3, 8, 0.55, 8) 150ms;
}
@media screen and (max-width: 599px) {
  .handWrapper {
    right: none;
    left: 50%;
  }
  .handWrapperActive {
    right: none;
    left: 50%;
  }
  .hand {
    margin-left: 10%;
    margin-top: 0%;
  }
}
@media screen and (max-width: 599px) {
  .handWrapper {
    bottom: none;
    top: 60%;
  }
  .handWrapperActive {
    bottom: none;
    top: 60%;
  }
  .hand {
    margin-left: 10%;
    margin-top: 0%;
  }
}

/* Game */
.gameFrame {
  width: calc(100%);
  height: calc(100%);
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 1800px;
}
.enemy {
  height: 120px;
  width: 70px;
  background-size: cover;
  background-position: center;
  display: none;
}
.deadEnemy {
  height: 120px;
  width: 70px;
  background-size: cover;
  background-position: center;
  pointer-events: none;
}
.bangMarker {
  width: 120px;
  height: 120px;
  pointer-events: none;
  z-index: 250;
  position: absolute;
  animation: bangAppear 0.25s ease-out;
}

@keyframes bangAnimation {
  0% {
    transform: scale(1) translate(-50%, -50%);
    opacity: 1;
  }
  100% {
    transform: scale(2) translate(-50%, -50%);
    opacity: 0;
  }
}
@keyframes bangAppear {
  0% {
    transform: scale(0) rotate(var(--rotation));
    opacity: 0;
  }
  50% {
    transform: scale(1.15) rotate(var(--rotation));
    opacity: 1;
  }
  100% {
    transform: scale(1) rotate(var(--rotation));
  }
}
#gameFrameWrapper img {
  width: 100% !important;
  height: 100% !important;
}
.hidden,
.upcomingEnemy {
  display: none;
}
.active {
  display: flex;
}

/* start */
.startContainer {
  padding: 32px 24px;
  border: 2px solid #8b1910;
  border-radius: 16px;
  max-width: 412px;
  width: calc(100% - 48px - 64px);
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.startTopWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.startLogo {
  width: 100%;
  max-width: 360px;
  height: 100%;
  object-fit: contain;
}
.startDescription {
  font-size: 17px;
  line-height: 1.29em;
  font-family: var(--font-overpass);
  color: #8b1910;
  font-weight: 800;
  margin-top: 1.4em;
  text-transform: uppercase;

  margin-bottom: 1.4em;
  text-align: center;
}
.startDivider {
  height: 1px;
  width: 100%;
  background-color: #8b1910;
}
.startButtonWrapper {
  display: flex;
  flex-direction: column;
  gap: 13.6px;
  margin-top: 24px;

  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.primaryButton {
  height: 48px;
  font-size: 19px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  border-radius: 19.2px;
  border: none;
  background-color: #8b1910;
  color: #ede1cc;
  width: 100%;
  max-width: 450px;
  font-variation-settings: "wdth" 80, "wght" 600;
  font-family: var(--font-radio);
  text-transform: uppercase;
  letter-spacing: -0.02em;
  gap: 7px;
}
.secondaryButton {
  height: 48px;
  font-size: 19px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  border-radius: 19.2px;
  border: 1.5px solid #8b1910;
  color: #8b1910;
  background-color: #ede1cc;
  width: 100%;
  max-width: 450px;
  font-variation-settings: "wdth" 80, "wght" 600;
  font-family: var(--font-radio);
  text-transform: uppercase;
  letter-spacing: -0.02em;
  gap: 7px;
}

/* leaderboard */
.gameOver {
  /* display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: calc(100% - 160px);
  height: calc(100% - 160px);
  padding: 48px;
  border: 1px solid #8b1910;
  z-index: 400;
  background-color: #ede1cc; */
  padding: 32px 24px;
  border: 2px solid #8b1910;
  border-radius: 16px;
  max-width: 412px;
  width: calc(100% - 48px - 64px);
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.leaderboardWrapper {
  text-align: center;
  margin-top: 20px;
  color: #8b1910;
  width: 100%;
}

.leaderboardHeader {
  display: flex;
  justify-content: flex-start;
  font-weight: bold;
  display: grid;
  grid-template-columns: 1fr 3fr 2fr;
  border-bottom: 1px solid #8b1910;
  margin-bottom: 0px;
}
.leaderboardHeader span {
  text-align: left;
}
.leaderboardHeader span:nth-child(3) {
  text-align: center;
}
.leaderboardList {
  padding: 0px;
  max-height: 33vh;
  min-height: 120px;
  overflow-y: scroll;
  margin: 0px;
}
.leaderboardEntry {
  display: grid;
  grid-template-columns: 1fr 3fr 2fr;
  justify-content: flex-start;
  padding: 5px 0;
  border-bottom: 1px solid #8b1910;
  font-size: 28px;
  font-weight: 800;
  font-style: italic;
  width: 100%;
}
.leaderboardRank {
  text-align: left;
}
.leaderboardName {
  text-align: left;
}
.leaderboardScore {
  text-align: center;
}
.highlight {
  background-color: #8b191022;
}
