.gameFrameWrapper {
  position: absolute;
  top: 0px;
  left: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: calc(100%);
  height: calc(100svh - 71px - 30px);
  overflow: hidden;
  /* border: 1px solid green; */
}

.gameFrame {
  width: calc(100%);
  height: calc(100%);
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 1800px;
  /* border: 1px solid blue; */
}
.enemy {
  height: 120px;
  width: 70px;
  background-size: cover;
  background-position: center;
}
.deadEnemy {
  height: 120px;
  width: 70px;
  background-size: cover;
  background-position: center;
  pointer-events: none;
}
.gameOver {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: calc(100% - 30px);
}
.scoreWrapper {
  bottom: 16px;
  left: 32px;
  gap: 24px;
  justify-content: center;
  align-items: baseline;
  display: flex;
  flex-direction: row;
  position: absolute;
}
.score {
  font-size: 77px;
  pointer-events: none;
  color: #8b1910;
  font-variation-settings: "wdth" 80, "wght" 600;
  font-style: italic;
  font-family: var(--font-radio);
  letter-spacing: -0.03em;
  line-height: 100%;
}
.cans {
  font-size: 58px;
  pointer-events: none;
  color: #8b1910;
  font-variation-settings: "wdth" 80, "wght" 600;
  font-style: italic;
  font-family: var(--font-radio);
  letter-spacing: -0.03em;
  line-height: 100%;
}
.scoreDetails {
  font-size: 27px;
  pointer-events: none;
  color: #8b1910;
  font-variation-settings: "wdth" 100, "wght" 800;
  font-family: var(--font-overpass);
  text-transform: uppercase;
  font-style: italic;
  line-height: 100%;
  margin-left: 3px;
  letter-spacing: 0;
}
@media screen and (max-width: 799px) {
  .score {
    font-size: 68px;
  }
  .cans {
    font-size: 51px;
  }
  .scoreDetails {
    font-size: 24px;
  }
}
@media screen and (max-width: 711px) {
  .score {
    font-size: clamp(40px, 8.3vw, 59px);
  }
  .cans {
    font-size: clamp(30px, 6.2vw, 44px);
    font-size: clamp(40px, 8.3vw, 59px);
    font-size: clamp(35px, 7.2vw, 52px);
  }
  .scoreDetails {
    margin-left: 2px;
    font-size: clamp(14px, 2.9vw, 21px);
  }
}
.leaderboard {
  text-align: center;
  margin-top: 20px;
  color: #8b1910;
  width: 100%;
}

.leaderboardHeader {
  display: flex;
  justify-content: space-around;
  font-weight: bold;
  margin-bottom: 10px;
}
.leaderboardList {
  padding: 0px;
  max-height: 50vh;
  overflow-y: scroll;
  border: 1px solid #8b1910;
  padding: 0px 10px;
}
.leaderboardEntry {
  display: grid;
  grid-template-columns: 1fr 3fr 2fr;
  justify-content: flex-start;
  padding: 5px 0;
  border-bottom: 1px solid #8b1910;
  font-size: 28px;
  font-weight: 700;
  font-style: italic;
  width: 100%;
}
.leaderboardRank {
  text-align: left;
}
.leaderboardName {
  text-align: left;
}
.leaderboardScore {
  text-align: center;
}
.highlight {
  background-color: #8b191022;
}

.bangMarker {
  width: 120px;
  height: 120px;
  pointer-events: none;
  z-index: 100;
  position: absolute;
  animation: bangAppear 0.25s ease-out;
}

@keyframes bangAnimation {
  0% {
    transform: scale(1) translate(-50%, -50%);
    opacity: 1;
  }
  100% {
    transform: scale(2) translate(-50%, -50%);
    opacity: 0;
  }
}
@keyframes bangAppear {
  0% {
    transform: scale(0) rotate(var(--rotation));
    opacity: 0;
  }
  50% {
    transform: scale(1.15) rotate(var(--rotation));
    opacity: 1;
  }
  100% {
    transform: scale(1) rotate(var(--rotation));
  }
}

#gameFrameWrapper img {
  width: 100% !important;
  height: 100% !important;
}
@media screen and (max-width: 799px) {
  .gameFrameWrapper {
    height: calc(100svh - 65px - 30px);
  }
  .scoreWrapper {
    left: 16px;
    bottom: 8px;
    gap: 5px;
    display: flex;
    flex-direction: column-reverse;
  }
}
.handWrapper {
  position: absolute;
  bottom: 0;
  right: 0;
  width: auto;
  height: 50%;
  aspect-ratio: 473.95/461;
  transition: transform ease-in 200ms;
}
.hand {
  width: 100%;
  height: 100%;
  margin-left: 10%;
  margin-top: 10%;
  object-fit: contain;
}
@media screen and (max-width: 599px) {
  .handWrapper {
    right: none;
    left: 50%;

  }
  .hand {
    margin-left: 10%;
    margin-top: 0%;
  }
}
@media screen and (max-width: 599px) {
  .handWrapper {

    bottom: none;
    top: 60%;
  }
  .hand {
    margin-left: 10%;
    margin-top: 0%;
  }
}
